@import '~normalize.css/normalize.css';

$link-color: darken(white, 10%);
$link-hover-color: white;

* {
  font-family: 'Lato', sans-serif !important;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

@import "utils";

#app-root {
  @extend .fill;
}

.background-image {
  @extend .absolute-fill;
  z-index: -1;
  overflow: hidden;
  opacity: 0;

  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  object-fit: cover;

  max-width: 100%;
  max-height: 100%;

  &.loaded {
    opacity: 1;
  }
}

.clock {
  @extend .fill;

  .container-row {
    @extend .f-row;
  }

  .container-col {
    @extend .f-col;
  }

  .container-col, .container-row {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .time {
    color: white;
    font-size: 12em;
    text-shadow: 0px 0px 0.5em #3c3c3c;
  }
}

.credits {
  padding: 12px;

  .user {
    color: white;

    &:link, &:active {
      text-decoration: none;
    }
  }
}
