.notifications {
  height: 100%;
  padding: 0 0px;
  margin-right: 20px;

  & *::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }

  .notifications-list {
    height: 100%;
    overflow-y: auto;

    .spacer {
      height: 40px;
    }

    .notification {
      color: white;
      padding: 8px 10px;
      background: rgba(0, 0, 0, 0.55);
      border-radius: 5px;
      margin-bottom: 10px;
      cursor: pointer;
      overflow: visible;

      .icon {
        padding-right: 10px;
      }
    }
  }
}

.animate-notifications {
  -webkit-transition: margin-right .3s ease-in-out;
  transition: margin-right .3s ease-in-out;
}
